extends layout

block content
	h1 Broadcast a message
	form#edit
		table(style="background: darkred; padding: 5px;")
			tr
				td
					label(for="editMessage") Nachricht:
				td
					input#editMessage(type="text", name="message")
			tr
				td
					label(for="user") Absender:
				td
					input#editUser(type="text", name="user")

		input(type="submit")
		
	script(src="/javascripts/notificationLoader.js")