extends layout

block content
  #content
    #view 
      span#message
      |  (by: 
      span#user
      | )

    div
      a#change(href="#") Broadcast Message
      | 
      a#clear(href="#") Clear