doctype 5
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://localhost:3000/javascripts/notificationLoader.js')
  body
    div Hallo